@tailwind base;
@tailwind components;
@tailwind utilities;

.star-rating {
    direction: rtl;
    display: inline-block;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #bbb;
    cursor: pointer;
    font-size: 24px;
    padding: 0 2px;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
    color: #f8b739;
}
